<title>Extension Cord</title>
<link rel="shortcut icon" href="images/excord.ico" type="image/x-icon">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="css/extensioncord.css" rel="stylesheet">
<link href="css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="css/bootstrap-toggle.min.css" rel="stylesheet">

<script src="js/3p/jquery-1.10.2.min.js"></script>
<script src="js/3p/bootstrap.min.js"></script>
<script src="js/3p/bootbox.min.js"></script>
<script src="js/3p/jquery.dataTables.min.js"></script>
<script src="js/3p/dataTables.bootstrap.min.js"></script>
<script src="js/3p/bootstrap-datepicker.min.js"></script>
<script src="js/3p/bootstrap-toggle.min.js"></script>
