<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a href="/"><img src="images/excord.png" width="50" height="50"/></a>
            &nbsp;&nbsp;
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/requirement">Requirements</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Test Plans<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/testplan_active">Active Testplans</a></li>
                        <li><a href="/testplan">All Testplans</a></li>
                    </ul>
                </li>
                <li><a href="/testcase">Test Cases</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/report_execution">Test Execution Report</a></li>
                        <li><a href="/report_review">Testcases Pending Review</a></li>
                        <li><a href="/report_coverage">Requirements Missing Coverage</a></li>
                    </ul>
                </li>
                <li><a href="/search">Search</a></li>
                <li><a href="/history">History</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <#if Session.authName??>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;${Session.authName}&nbsp;<b class="caret"></b>&nbsp;</a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
                <#else>
                <li><a href="/login">Login</a></li>
                </#if> 

            </ul>
        </div>

    </div>
</div>


