<#macro page>
<html>
    <head>
        <#include "../common/include.ftl.html"/>
    </head>
    <body>
        <div id="wrap">
            <#include "../common/menubar.ftl.html"/>
            <!-- Content starts -->
            <#if flashMsg??>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-success text-center">${flashMsg}</p>
                </div>
            </div>
            </#if>
            <#nested>
            <!-- Content ends -->
        </div>        
    </body>
</html>
</#macro>

