<#import "layouts/main-layout.ftl.html" as main> 
<@main.page>
<script src="js/3p/highcharts.js"></script>
<script src="js/3p/exporting.js"></script>
<script src="js/custom/home.js"></script>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-3 text-center">
            <div id="requirementPriorityChart"></div>
        </div>
        <div class="col-md-3">
            <div id="requirementStatusChart"></div>
        </div>
        <div class="col-md-3">
            <div id="runStatusChart"></div>
        </div>
        <div class="col-md-3">
            <div id="testcaseRunChart"></div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron well well-lg">
                <h2>Active Requirements: ${rCnt}</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron well well-lg">
                <h2>Active Testplans: ${tpCnt}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron well well-lg">
                <h2>Active Testcases: ${tcCnt}</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron well well-lg">
                <h2>Test Execution: ${trCnt}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron well well-lg">
                <h2>Requirement Coverage: ${coveragePercentage}%</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron well well-lg">
                <h2>Automation: ${automationPercentage}%</h2>
            </div>
        </div>
    </div>
</div>
</@main.page> 