<#import "layouts/main-layout.ftl.html" as main> 
<@main.page>
<script src="js/3p/highcharts.js"></script>
<script src="js/3p/exporting.js"></script>
<script src="js/custom/reports.js"></script>
<div class="container-fluid">
    <form method="post" action="/metrics" role="form" class="form-horizontal">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="images/work-in-progress.png" width="250" height="200"/>
            </div>
        </div>
    </form>
</div>
</@main.page> 