<#import "layouts/main-layout.ftl.html" as main> 
<@main.page>
<script src="js/custom/requirement.js"></script>
<div class="container-fluid">
    <form id="reqForm" method="post" action="/requirement" role="form" class="form-horizontal">
        <input type="hidden" id="reqId" name="reqId" value="${currReq.id?c}"/>
        <#if Session.clipboardLinkTc??>
        <div class="row">
            <div class="col-md-12">
                <p class="text-success text-center">
                    ${Session.clipboardLinkTc?split(",")?size} Testcases Ready to be Linked!
                </p>
            </div>
        </div>
        <br/>
        </#if>

        <!--Bread crumb-->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <#assign breadCrumbPath = "/"/>
                    <#list parentReqLst as pNode>
                    <li><a href="/requirement?reqId=${pNode.id?c}" class="breadcrumb-select">${pNode.name}</a></li>
                    <#assign breadCrumbPath = breadCrumbPath + pNode.name + "/" />
                    </#list>
                    <input type="hidden" id="breadCrumbPath" name="breadCrumbPath" value="${breadCrumbPath}"/>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 well pre-scrollable scroll-pane" >
                <div>

                    <span class="fa fa-file-text-o"></span>
                    <a href="/requirement?reqId=${parentReq.id?c}"><..></a>
                    <br/>

                    <#list nodeLst as node>
                    &nbsp;
                    <#if childReqLst?seq_contains(node.id)>
                    <span class="fa fa-file-text"></span>
                    <#else>
                    <span class="fa fa-file-text-o"></span>
                    </#if>

                    <a href="/requirement?reqId=${node.id?c}">${node.name}</a>
                    <br/>
                    </#list>

                </div>
            </div>
            <div class="col-md-8 pre-scrollable scroll-pane">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="15%">Requirement Id</th>
                            <td>${currReq.id}</td>
                        </tr>
                        <tr>
                            <th width="15%">Requirement Name</th>
                            <td>${currReq.name}</td>
                        </tr>
                        <tr>
                            <th>Priority</th>
                            <td>${currReq.priority}</td>
                        </tr>
                        <tr>
                            <th>Release</th>
                            <td>${currReq.release}</td>
                        </tr>
                        <tr>
                            <th>Product</th>
                            <td>${currReq.product}</td>
                        </tr>
                        <tr>
                            <th>Needs Coverage</th>
                            <td>${currReq.coverage?c}</td>
                        </tr>
                        <tr>
                            <th>
                                Associated Testcases
                            </th>
                            <td>
                                <#assign inc = 0/>
                                <#list tcrLst as tcr>
                                <#assign inc = inc + 1/>
                                ${inc}. <a href="/testcase_edit?testcaseId=${tcr.testcaseId.id}">${tcr.testcaseId.name}</a> &nbsp;&nbsp; <a href="#"><i class="fa fa-chain-broken"></i></a>
                                <br/>
                                </#list>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="story" rows="15" cols="90" readonly="readonly">${currReq.story}</textarea>
                        <br/><br/>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <#if Session.clipboardLinkTc??>
            <div class="col-md-12 text-center">
                <button type="submit" name="action" value="testcase_requirement_link" class="btn btn-info"><i class="fa fa-link"></i>&nbsp;Link</button>
                <button type="submit" name="action" value="testcase_requirement_link_cancel" class="btn btn-info"><i class="fa fa-undo "></i>&nbsp;Cancel Linking</button>
            </div>
            <#else>
            <div class="col-md-12 text-center">
                <button type="submit" name="action" value="req_create" class="btn btn-info"><i class="fa fa-plus-square"></i>&nbsp;Create Child Requirement</button>
                <button type="submit" name="action" value="req_edit" class="btn btn-info"><i class="fa fa-pencil"></i>&nbsp;Edit Requirement</button>
                
                <button type="submit" name="action" value="req_save" class="btn btn-info"><i class="fa fa-trash-o"></i>&nbsp;Delete Requirement</button>
                <button type="submit" name="action" value="req_export" class="btn btn-info"><i class="fa fa-table"></i>&nbsp;Export Requirements</button>


                <#if clipboardTc??>
                <button type="submit" name="action" value="req_paste" class="btn btn-info"><i class="fa fa-clipboard"></i>&nbsp;Paste Requirements</button>
                <#else>
                <button type="submit" name="action" value="req_cut" class="btn btn-info"><i class="fa fa-scissors"></i>&nbsp;Cut Requirements</button>
                </#if>

                <button type="button" name="action" id="cancel" value="back" class="btn btn-default" onclick="history.back()" >Back</button>
            </div>
            </#if>
        </div>
    </form>

</div>
</@main.page> 