<#import "layouts/main-layout.ftl.html" as main> 
<@main.page>
<script src="js/custom/requirement.js"></script>
<div class="container-fluid">
    <form id="reqForm" method="post" action="/requirement" role="form" class="form-horizontal">
        <input type="hidden" id="reqId" name="reqId" value="${currReq.id?c}"/>
        <#if Session.clipboardLinkTc??>
        <div class="row">
            <div class="col-md-12">
                <p class="text-success text-center">
                    ${Session.clipboardLinkTc?split(",")?size} Testcases Ready to be Linked!
                </p>
            </div>
        </div>
        <br/>
        </#if>

        <!--Bread crumb-->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <#assign breadCrumbPath = "/"/>
                    <#list parentReqLst as pNode>
                    <li><a href="/requirement?reqId=${pNode.id?c}" class="breadcrumb-select">${pNode.name}</a></li>
                    <#assign breadCrumbPath = breadCrumbPath + pNode.name + "/" />
                    </#list>
                    <input type="hidden" id="breadCrumbPath" name="breadCrumbPath" value="${breadCrumbPath}"/>

                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9">
                <div class="well well-sm">&nbsp;</div>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <button class="btn btn-info btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        <span class="text-right">Actions</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right btn-block">
                        <#if Session.clipboardLinkTc??>
                        <li><a href="/testcase_requirement_link?reqId=${currReq.id?c}"><i class="fa fa-link"></i>&nbsp;Link</a></li>
                        <li><a href="/testcase_requirement_link_cancel?reqId=${currReq.id?c}"><i class="fa fa-undo"></i>&nbsp;Cancel Linking</a></li>
                        <#else>
                        <li><a href="/req_create?reqId=${currReq.id?c}"><i class="fa fa-plus-square"></i>&nbsp;Create Child Requirement</a></li>
                        <li><a href="/req_edit?reqId=${currReq.id?c}"><i class="fa fa-pencil"></i>&nbsp;Edit Requirement</a></li>
                        <li><a href="#" id="req_delete"><i class="fa fa-trash-o"></i>&nbsp;Delete Requirement</a></li>
                        <li><a href="/req_export?reqId=${currReq.id?c}"><i class="fa fa-table"></i>&nbsp;Export Requirements</a></li>
                        </#if>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 well pre-scrollable scroll-pane" >
                <div>

                    <span class="fa fa-file-text-o"></span>
                    <a href="/requirement?reqId=${parentReq.id?c}"><..></a>
                    <br/>
                    <#assign inc = 1/>
                    <#list nodeLst as node>
                    &nbsp;
                    <#if childReqLst?seq_contains(node.id)>
                    <span class="fa fa-file-text"></span>
                    <#else>
                    <span class="fa fa-file-text-o"></span>
                    </#if>
                    ${inc}.&nbsp;<a href="/requirement?reqId=${node.id?c}">${node.name}</a>
                    <br/>
                    <#assign inc = inc + 1/>
                    </#list>

                </div>
            </div>
            <div class="col-md-8 pre-scrollable scroll-pane">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th width="25%">Requirement Id</th>
                            <td width="25%">${currReq.id}</td>
                            <th width="25%">Story Point</th>
                            <td width="25%">${currReq.storyPoint}</td>
                        </tr>
                        <tr>
                            <th>Requirement Name</th>
                            <td>${currReq.name}</td>
                            <th>Total Requirements (Coverage Enabled)</th>
                            <td>${childReqCnt}</td>
                        </tr>
                        <tr>
                            <th>Priority</th>
                            <td>${currReq.priority}</td>
                            <th>Release</th>
                            <td>${currReq.releaseName}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>${currReq.status}</td>
                            <th>Product</th>
                            <td>${currReq.product}</td>
                        </tr>

                        <tr>
                            <th>Coverage Required</th>
                            <td>${currReq.coverage?c}</td>
                            <th>Coverage Percentage</th>
                            <td>${coveragePercentage}%</td>
                        </tr>
                        <tr>
                            <th>
                                Associated Testcases
                            </th>
                            <td colspan="3">
                                <#assign inc = 0/>
                                <#list tcrLst as tcr>
                                <#assign inc = inc + 1/>
                                ${inc}. <a href="/testcase_edit?testcaseId=${tcr.testcaseId.id?c}">${tcr.testcaseId.name}</a> &nbsp;&nbsp; 
                                <a href="/testcase_requirement_unlink?tcId=${tcr.testcaseId.id?c}&reqId=${tcr.requirementId.id?c}" title="Unlink Testcase!"><i class="fa fa-chain-broken"></i>&nbsp;</a>&nbsp;&nbsp;
                                <#if tcr.review?c == 'true'><span class="label label-danger">Review Testcase!</span> &nbsp;&nbsp;</#if> 
                                <br/><br/>
                                </#list>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="story" rows="12" cols="90" readonly="readonly">${currReq.story}</textarea>
                        <br/><br/>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">

        </div>
    </form>
    <form id="testcaseUploadForm" method="post" action="/req_upload" role="form" class="form-horizontal" enctype="multipart/form-data">
        <div  class="form-group">
            <div class="col-md-9">
                <input type="hidden" id="nodeId" name="reqId" value="${currReq.id?c}"/>
                <input type="file" name="file" class="form-control">
            </div>
            <div class="col-md-3">
                <button class="btn btn-info btn-block" type="submit"><i class="fa fa-upload"></i>&nbsp;Import Requirements</button>
            </div>
        </div>
    </form>

</div>
</@main.page> 