<#import "layouts/main-layout.ftl.html" as main> 
<@main.page>

<div class="container-fluid">
    <form method="post" action="/requirement_save" role="form" class="form-horizontal">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Requirement</h3>
                <br/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                Requirement Name<font color="red">*</font>
            </label>
            <div class="col-md-4">
                <input class="form-control"  name="rname" value="<#if req??>${req.name}</#if>" maxlength="90" required/>
                <input type="hidden" name="reqId" value="<#if req??>${req.id}</#if>"/>
            </div>
            <label for="rpriority" class="col-md-1 control-label">
                Priority<font color="red">*</font>
            </label>
            <div class="col-md-4">
                <select class="form-control" name="rpriority">
                    <#if req?? && req.priority == "P1">
                    <option value="P1" selected>Critical (P1)</option>
                    <#else>
                    <option value="P1">Critical (P1)</option>
                    </#if>
                    <#if req?? && req.priority == "P2">
                    <option value="P2" selected>Major (P2)</option>
                    <#else>
                    <option value="P2">Major (P2)</option>
                    </#if>
                    <#if req?? && req.priority == "P3">
                    <option value="P3" selected>Minor (P3)</option>
                    <#else>
                    <option value="P3">Minor (P3)</option>
                    </#if>
                    <#if req?? && req.priority == "P4">
                    <option value="P4" selected>Trivial (P4)</option>
                    <#else>
                    <option value="P4">Trivial (P4)</option>
                    </#if>
                </select>    
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                Parent Requirement<font color="red">*</font>
            </label>
            <div class="col-md-4">
                <#if parentReq??>
                <input type="hidden" name="rParentId" value="${parentReq.id}"/>
                <input type="text"  class="form-control" value="${parentReq.id} :  ${parentReq.name}" readonly/>
                <#else>
                <input type="hidden" name="rParentId" value="-1"/>
                <input type="text"  class="form-control" value="-" readonly/>
                </#if>
            </div>
            <label class="col-md-1 control-label">
                Coverage Required
            </label>
            <div class="col-md-4">
                <#if req?? && req.coverage?c == "true">
                <input type="checkbox" name="rcoverage" data-toggle="toggle" data-on="Yes" data-off="No"  data-onstyle="success" checked> 
                <#else>
                <input type="checkbox" name="rcoverage" data-toggle="toggle" data-on="Yes" data-off="No"  data-onstyle="success" >  
                </#if>
            </div>
        </div>

        <div class="form-group">
            <label for="rstate" class="col-md-2 control-label">
                Status<font color="red">*</font>
            </label>
            <div class="col-md-4">
                <select class="form-control" id="rstatus" name="rstatus">
                    <#if req?? && req.status == "ACTIVE">
                    <option value="ACTIVE" selected>ACTIVE</option>
                    <#else>
                    <option value="ACTIVE">ACTIVE</option>
                    </#if>
                    <#if req?? && req.status == "DEPRECATED">
                    <option value="DEPRECATED" selected>DEPRECATED</option>
                    <#else>
                    <option value="DEPRECATED">DEPRECATED</option>
                    </#if>
                    <#if req?? && req.status == "PROPOSED">
                    <option value="PROPOSED" selected>PROPOSED</option>
                    <#else>
                    <option value="PROPOSED">PROPOSED</option>
                    </#if>
                </select>    
            </div>
            <label class="col-md-1 control-label">
                Release
            </label>
            <div class="col-md-4">
                <input class="form-control"  name="rrelease" value="<#if req??>${req.releaseName}</#if>" maxlength="45"/>
            </div>
        </div>

        <div class="form-group">
            <label for="rstate" class="col-md-2 control-label">
                Story Point<font color="red">*</font>
            </label>
            <div class="col-md-4">
                <select class="form-control" name="rstorypoint">
                    <#if req?? && req.storyPoint == 1>
                    <option value="1" selected>1</option>
                    <#else>
                    <option value="1">1</option>
                    </#if>
                    <#if req?? && req.storyPoint == 2>
                    <option value="2" selected>2</option>
                    <#else>
                    <option value="2">2</option>
                    </#if>
                    <#if req?? && req.storyPoint == 3>
                    <option value="3" selected>3</option>
                    <#else>
                    <option value="3">3</option>
                    </#if>
                    <#if req?? && req.storyPoint == 4>
                    <option value="4" selected>4</option>
                    <#else>
                    <option value="4">4</option>
                    </#if>
                    <#if req?? && req.storyPoint == 5>
                    <option value="5" selected>5</option>
                    <#else>
                    <option value="5">5</option>
                    </#if>
                </select>    
            </div>
            <label class="col-md-1 control-label">
                Product
            </label>
            <div class="col-md-4">
                <input class="form-control"  name="rproduct" value="<#if req??>${req.product}</#if>" maxlength="45"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">
                Story
            </label>
            <div class="col-md-9">
                <textarea id="story" name="rstory" rows="12" cols="90"><#if req??>${req.story}</#if></textarea>           
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-10">
                <button type="submit" name="action" id="req_save" class="btn btn-info"><i class="fa fa-floppy-o"></i>&nbsp;Save Requirement</button>
                <button type="button" name="action" id="cancel" value="cancel" class="btn btn-info" onclick="history.back()" >Cancel</button>
            </div>
        </div>

    </form>
</div>
</@main.page> 