<#import "layouts/main-layout.ftl.html" as main> 
<@main.page>
<script src="js/3p/autosize.min.js"></script>
<script src="js/custom/testcase_form.js"></script>
<div class="container-fluid">
    <form method="post" action="/testcase_save" role="form" class="form-horizontal">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Test Case</h3>
                <br/>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3">
                <div>
                    <label for="tname">Test Case Name<font color="red">*</font></label>
                    <input type="hidden" name="tid" value="<#if tc??>${tc.id?c}</#if>"/>
                    <input type="text" class="form-control" id="tname" name="tname" maxlength="90" required value="<#if tc??>${tc.name}</#if>"/>
                    <br/>
                </div>
                <div>
                    <label for="tmethod">Slug</label>
                    <input type="text" class="form-control" readonly value="<#if tc??>${tc.slug}</#if>"/>
                    <br/>
                </div>
                <div>
                    <label for="tpriority">Priority<font color="red">*</font></label>
                    <select class="form-control" id="tpriority" name="tpriority">
                        <#if tc?? && tc.priority == "P1">
                        <option value="P1" selected>Critical (P1)</option>
                        <#else>
                        <option value="P1">Critical (P1)</option>
                        </#if>
                        <#if tc?? && tc.priority == "P2">
                        <option value="P2" selected>Major (P2)</option>
                        <#else>
                        <option value="P2">Major (P2)</option>
                        </#if>
                        <#if tc?? && tc.priority == "P3">
                        <option value="P3" selected>Minor (P3)</option>
                        <#else>
                        <option value="P3">Minor (P3)</option>
                        </#if>
                        <#if tc?? && tc.priority == "P4">
                        <option value="P4" selected>Trivial (P4)</option>
                        <#else>
                        <option value="P4">Trivial (P4)</option>
                        </#if>
                    </select>
                    <br/>
                </div>
                <div>
                    <label for="ttype">Type<font color="red">*</font></label>
                    <select class="form-control" id="ttype" name="ttype">
                        <#if tc?? && tc.caseType == "REGRESSION">
                        <option value="REGRESSION" selected>Regression</option>
                        <#else>
                        <option value="REGRESSION">Regression</option>
                        </#if>

                        <#if tc?? && tc.caseType == "MIXED_MODE">
                        <option value="MIXED_MODE" selected>Mixed mode</option>
                        <#else>
                        <option value="MIXED_MODE">Mixed mode</option>
                        </#if>

                        <#if tc?? && tc.caseType == "NEW_FEATURE">
                        <option value="NEW_FEATURE" selected>New feature</option>
                        <#else>
                        <option value="NEW_FEATURE">New feature</option>
                        </#if>

                        <#if tc?? && tc.caseType == "AUTOMATED_REGRESSION">
                        <option value="AUTOMATED_REGRESSION" selected>Automated Regression</option>
                        <#else>
                        <option value="AUTOMATED_REGRESSION">Automated Regression</option>
                        </#if>

                        <#if tc?? && tc.caseType == "MANUAL">
                        <option value="MANUAL" selected>Manual Only</option>
                        <#else>
                        <option value="MANUAL">Manual Only</option>
                        </#if>

                        <#if tc?? && tc.caseType == "MIGRATION">
                        <option value="MIGRATION" selected>Migration</option>
                        <#else>
                        <option value="MIGRATION">Migration</option>
                        </#if>

                        <#if tc?? && tc.caseType == "HOTFIX">
                        <option value="HOTFIX" selected>Hotfix</option>
                        <#else>
                        <option value="HOTFIX">Hotfix</option>
                        </#if>

                        <#if tc?? && tc.caseType == "SANITY_CHECK">
                        <option value="SANITY_CHECK" selected>Production Sanity Check</option>
                        <#else>
                        <option value="SANITY_CHECK">Production Sanity Check</option>
                        </#if>
                    </select>
                    <br/>
                </div>
                <div>
                    <label for="ttype">Time To Run<font color="red">*</font></label>
                    <select class="form-control" name="ttrun">
                        <#if tc?? && tc.timeToRun == 1>
                        <option value="1" selected>1 Min</option>
                        <#else>
                        <option value="1">1 Min</option>
                        </#if>

                        <#if tc?? && tc.timeToRun == 5>
                        <option value="5" selected>5 Mins</option>
                        <#else>
                        <option value="5">5 Mins</option>
                        </#if>

                        <#if tc?? && tc.timeToRun == 10>
                        <option value="10" selected>10 Mins</option>
                        <#else>
                        <option value="10">10 Mins</option>
                        </#if>

                        <#if tc?? && tc.timeToRun == 15>
                        <option value="15" selected>15 Mins</option>
                        <#else>
                        <option value="15">15 Mins</option>
                        </#if>

                        <#if tc?? && tc.timeToRun == 20>
                        <option value="20" selected>20 Mins</option>
                        <#else>
                        <option value="20">20 Mins</option>
                        </#if>

                        <#if tc?? && tc.timeToRun == 30>
                        <option value="30" selected>30 Mins</option>
                        <#else>
                        <option value="30">30 Mins</option>
                        </#if>

                    </select>
                    <br/>
                </div>

            </div>
            <div class="col-md-1">
                &nbsp;
            </div>
            <div class="col-md-3">
                <div class="checkbox form-group">
                    <label>Enabled</label>
                    <#if tc?? && tc.enabled?c == "true">
                    <input type="checkbox" name="tenabled" data-toggle="toggle" data-on="Yes" data-off="No"  data-onstyle="success"  checked> 
                    <#else>
                    <input type="checkbox" name="tenabled" data-toggle="toggle" data-on="Yes" data-off="No"  data-onstyle="success" >  
                    </#if>

                    <label>Automated</label>
                    <#if tc?? && tc.automated?c == "true">
                    <input type="checkbox" name="tautomated"  data-toggle="toggle" data-on="Yes" data-off="No"  data-onstyle="success" checked> 
                    <#else>
                    <input type="checkbox" name="tautomated"  data-toggle="toggle" data-on="Yes" data-off="No"  data-onstyle="success" > 
                    </#if>
                </div>
                <div class="form-group">
                    <label for="tfolder">Folder<font color="red">*</font></label>
                    <input type="hidden" name="tfolderId" value="${currentNode.id?c}"/>
                    <input type="text" name="tfolder" class="form-control" id="tfolder" value="${currentNode.name}" readonly>
                </div>
                <div class="form-group">
                    <label for="tlanguage">Language</label>
                    <input type="text" name="tlanguage" class="form-control" id="tlanguage" maxlength="45" value="<#if tc??>${tc.language}</#if>"/>
                </div>
                <div class="form-group">
                    <label for="tscriptfile">Automation Test Script File:</label>
                    <input type="text" name="tscriptfile" class="form-control" id="tscriptfile" maxlength="90" value="<#if tc??>${tc.testScriptFile}</#if>"/>
                </div>
                <div class="form-group">
                    <label for="tmethod">Automation Test Method Name:</label>
                    <input type="text" name="tmethod" class="form-control" id="tmethod" maxlength="45" value="<#if tc??>${tc.methodName}</#if>"/>
                </div>
            </div>

            <div class="col-md-1">
                &nbsp;
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="tbugid">Bug Id</label>
                    <input name="tbugid" type="text" class="form-control" id="tbugid" maxlength="45" value="<#if tc??>${tc.bugId}</#if>"/>
                </div>
                <div class="form-group">
                    <label for="tproduct">Product</label>
                    <input type="text" name="tproduct" class="form-control" id="tproduct" maxlength="45" value="<#if tc??>${tc.product}</#if>"/>
                </div>
                <div class="form-group">
                    <label for="tfeature">Feature</label>
                    <input type="text" name="tfeature" class="form-control" id="tfeature" maxlength="45" value="<#if tc??>${tc.feature}</#if>"/>
                </div>
                <div class="form-group">
                    <label for="taversion">Added Version</label>
                    <input type="text" name="taversion" class="form-control" id="taversion" maxlength="45" value="<#if tc??>${tc.addedVersion}</#if>"/>
                </div>
                <div class="form-group">
                    <label for="tdversion">Deprecated Version</label>
                    <input type="text" name="tdversion" class="form-control" id="tdversion" maxlength="45" value="<#if tc??>${tc.deprecatedVersion}</#if>"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <label for="tdescription">Description<font color="red">*</font></label>
                <textarea class="form-control" name="tdescription" id="tdescription" rows="4" required><#if tc??>${tc.description}</#if></textarea>
                <br/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="testStepTable" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="2%">ID</th>
                            <th>Procedure<font color="red">*</font></th>
                            <th>Expected<font color="red">*</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        <#assign incId = 0>
                        <#if tsLst?? && tsLst?has_content>
                        <#list tsLst as ts>
                        <tr>
                            <#assign incId = incId+1>
                            <td>${ts.stepNumber}</td>
                            <td><textarea class="expandable-textarea" id="testStep_${ts.stepNumber}" name="testStep_${ts.stepNumber}" required>${ts.description}</textarea></td>
                            <td><textarea class="expandable-textarea" id="testExpected_${ts.stepNumber}" name="testExpected_${ts.stepNumber}" required>${ts.expected}</textarea></td>
                        </tr>
                        </#list>
                        <#else>
                        <#list 1..2 as n>
                        <tr>
                            <#assign incId = incId+1>
                            <td>${n}</td>
                            <td><textarea class="expandable-textarea" id="testStep_${n}" name="testStep_${n}" required></textarea></td>
                            <td><textarea class="expandable-textarea" id="testExpected_${n}" name="testExpected_${n}" required></textarea></td>
                        </tr>
                        </#list>
                        </#if>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <input type="hidden" name="tstepCount" id="tstepCount" value="${incId}"/>
                <a id="addTestStep"  href="#" title="Add Test Step" ><i class="fa fa-plus-square fa-2x"></i></a>
                <a id="delTestStep"  href="#" title="Delete Test Step" ><i class="fa fa-minus-square fa-2x"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <#if reviewTc?? && reviewTc?c == 'true'><span class="label label-danger">Review Testcase!</span> &nbsp;&nbsp;<br/><br/></#if> 
                <button type="submit" name="action" id="testcase_save" value="testcase_save" class="btn btn-info"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                <#if tc??><a href="/testcase?nodeId=${tc.folderId.id?c}" class="btn btn-info"><i class="fa fa-backward"></i>&nbsp;Back To Folders</a></#if>
                <button type="button" name="action" id="cancel" value="cancel" class="btn btn-info" onclick="history.back()" >Cancel</button>
            </div>
        </div>

    </form>
</div>
</@main.page> 