<#import "layouts/main-layout.ftl.html" as main> 
<@main.page>
<script src="js/custom/testplan_run.js"></script>
<div class="container-fluid">
    <form method="post" action="/testplan_run" role="form" id="testplanRunForm" class="form-horizontal">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Run Test Plan</h3>
                <br/>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <tbody>
                        <tr>
                            <th width="15%">Test Plan</th>
                            <th>
                                <a href="/testplan_view?testplanId=${testPlan.id?c}">${testPlan.name}</a>
                                <input type="hidden" id="testplanId"  name="testplanId" value="${testPlan.id?c}"/>
                            </th>
                        </tr>
                        <tr>
                            <td width="15%">Test Plan Id</td>
                            <td>
                                ${testPlan.id?c}
                            </td>
                        </tr>
                        <tr>
                            <td width="15%">Test Case Count</td>
                            <td>
                                ${tptcLst?size}
                            </td>
                        </tr>
                        <tr>
                            <td width="15%">Environment</td>
                            <td>
                                <select name="testEnvironment" class="form-control">
                                    <#list testEnvLst as env>
                                    <option>${env}</option>
                                    </#list>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="15%">Select By Folder</td>
                            <td>
                                <select  id="folderName" class="form-control" name="folderId"  >
                                    <option value="">- All -</option>
                                    <#list childFolderMap?keys as childFolderId>
                                    <option value="${childFolderId}" ${(childFolderId == (folderId!0)?c)?then('selected', '')} > ${childFolderMap[childFolderId]} </option>
                                    </#list>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="testplanrun-ele" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkAll"/> </th>
                            <th>Test Id</th>
                            <th>Summary</th>
                            <th>Run</th>
                        </tr>
                    </thead>

                    <#list tptcLst as tptcObj>
                    <tr>
                        <td class="no-sort">
                            <input type="checkbox" name="testcaseChk" value="${tptcObj.testcaseId.id?c}"/>
                        </td>
                        <td>
                            <a href="#" class="teststepShow" id="${tptcObj.testcaseId.id?c}">${tptcObj.testcaseId.id?c} &nbsp;<i class="fa fa-sort-desc"></i></a>
                        </td>
                        <td>
                            <b>Name:</b><a href="/testcase_edit?testcaseId=${tptcObj.testcaseId.id?c}">${tptcObj.testcaseId.name}</a>
                            <br/>
                            <b>Folder:</b><a href="/testcase?nodeId=${tptcObj.testcaseId.folderId.id?c}">${tptcObj.testcaseId.folderId.name}</a>
                            <br/>
                            <b>Product:</b> ${tptcObj.testcaseId.product}
                            <br/>
                            <b>Assigned To:</b> 
                            <#if tptcObj.assignedTo??>
                            ${tptcObj.assignedTo}
                            </#if>
                            <br/>
                            <b>Priority:</b>
                            <#if tptcObj.testcaseId.priority??>
                            ${tptcObj.testcaseId.priority}
                            </#if>
                            <br/>
                            <b>Automated:</b>
                            ${tptcObj.testcaseId.automated?c}
                            <br/>
                            <b>Type:</b>
                            ${tptcObj.testcaseId.caseType}
                            <br/><br/>


                        </td>
                        <td>
                            <#assign alreadyRun = false>
                            <#list trLst as trObj>
                            <#if trObj.testplanTestcaseLinkId.id?c == tptcObj.id?c >
                            <#assign alreadyRun = true>
                            <b>Status:</b>
                            <#switch trObj.status>
                            <#case "PASSED">
                            <span class="label label-success">${trObj.status}</span>
                            <#break>
                            <#case "FAILED">
                            <span class="label label-danger">${trObj.status}</span>
                            <#break>
                            <#case "NOT_RUN">
                            <span class="label label-warning">${trObj.status}</span>
                            <#break>
                            <#default>
                            <span class="label label-primary">${trObj.status}</span>
                            </#switch>
                            <br/>

                            <b>Environment:</b>
                            ${trObj.environment}
                            <br/>
                            <b>Tester:</b>
                            ${trObj.tester}
                            <br/>

                            <b>Run On:</b>
                            ${trObj.timestamp}
                            <br/>

                            <b>Comments:</b>
                            <br/>
                            <input type="text" class="form-control" name="tcomments_${tptcObj.testcaseId.id?c}" maxlength="90" size="90" value="${trObj.note}"/>
                            <br/>

                            <br/>
                            <b>Bug:</b>
                            <br/>
                            <input type="text" class="form-control" name="tbug_${tptcObj.testcaseId.id?c}" maxlength="45" size="45" value="${trObj.bugTicket}"/>
                            <br/>

                            </#if>
                            </#list>


                            <#if !alreadyRun>
                            <b>Status:</b>
                            <span class="label label-warning">NOT_RUN</span>
                            <br/>
                            <b>Comments:</b>
                            <br/>
                            <input type="text" class="form-control" name="tcomments_${tptcObj.testcaseId.id?c}" maxlength="90" size="90" value=""/>
                            <br/>

                            <br/>
                            <b>Bug:</b>
                            <br/>
                            <input type="text" class="form-control" name="tbug_${tptcObj.testcaseId.id?c}" maxlength="45" size="45" value=""/>
                            <br/>
                            </#if>

                        </td>

                    </tr>
                    <tr>
                        <td colspan="4">
                            <div id="tcstep_${tptcObj.testcaseId.id?c}"></div>
                        </td>
                        <td style="display: none;"></td>
                        <td style="display: none;"></td>
                        <td style="display: none;"></td>
                    </tr>
                    </#list>

                </table>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-info" name="status" value="PASSED">PASSED</button>
                <button type="submit" class="btn btn-info" name="status" value="FAILED">FAILED</button>
                <button type="submit" class="btn btn-info" name="status" value="BLOCKED">BLOCKED</button>
                <button type="submit" class="btn btn-info" name="status" value="NOT_COMPLETED">NOT_COMPLETED</button>
                <button type="submit" class="btn btn-info" name="status" value="NOT_RUN">NOT_RUN</button>
                <button type="button" name="action" id="cancel" value="back" class="btn btn-default" onclick="history.back()" >Back</button>
            </div>
        </div>
    </form>
</div>
</@main.page> 