<#import "layouts/main-layout.ftl.html" as main> 
<@main.page>
<script src="js/custom/testplan_run.js"></script>
<div class="container-fluid">
    <form method="post" action="/testplan_run" role="form" id="testplanRunForm" class="form-horizontal">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Run Test Plan</h3>
                <br/>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <tbody>
                        <tr>
                            <th width="15%">Test Plan</th>
                            <th>
                                <a href="/testplan_view?testplanId=${testPlan.id?c}">${testPlan.name}</a>
                                <input type="hidden" name="testplanId" value="${testPlan.id?c}"/>
                            </th>
                        </tr>
                        <tr>
                            <td width="15%">Test Plan Id</td>
                            <td>
                                ${testPlan.id?c}
                            </td>
                        </tr>

                        <tr>
                            <td width="15%">Environment</td>
                            <td>
                                <select name="testEnvironment" class="form-control">
                                    <#list testEnvLst as env>
                                    <option>${env}</option>
                                    </#list>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="testplanrun-ele" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="no-sort"><input type="checkbox" id="checkAll"/> </th>
                            <th>Test Id</th>
                            <th>Test Folder</th>
                            <th>Test Name</th>
                            <th>Assigned</th>
                            <th>Priority</th>
                            <th>Comments</th>
                            <th>Bug</th>
                            <th>Environment</th>
                            <th>Run</th>
                            <th>By</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <#if testCaseLst??>
                        <#list testCaseLst as tc>
                        <tr>
                            <td class="no-sort">
                                <input type="checkbox" name="testcaseChk" value="${tc.id?c}"/>
                            </td>
                            <td style="white-space: nowrap">
                                <a href="#" class="teststepShow" id="${tc.id?c}">${tc.id?c} &nbsp;<i class="fa fa-sort-desc"></i></a>
                            </td>
                            <td>
                                <a href="/testcase?nodeId=${tc.folderId.id?c}">
                                    ${tc.folderId.name}
                                </a>
                            </td>
                            <td style="word-break:break-all;">${tc.name}</td>
                            <td>
                                <#list tptcLst as tptc>
                                <#if tptc.testcaseId.id?c == tc.id?c>
                                <#if tptc.assignedTo??>
                                ${tptc.assignedTo}
                                </#if>
                                </#if>
                                </#list>
                            </td>
                            <td>
                                <#if tc.priority??>
                                ${tc.priority}
                                </#if>
                            </td>
                            <td><input type="text" name="tcomments_${tc.id?c}" size="55" value="<#if trMap[tc.id?c]??>${trMap[tc.id?c].note}</#if>"/></td>
                            <td><input type="text" name="tbug_${tc.id?c}" size="10" value="<#if trMap[tc.id?c]??>${trMap[tc.id?c].bugTicket}</#if>"/></td>
                            <td><#if tc.environment??>${tc.environment}</#if></td>
                            <td>
                                <#if trMap[tc.id?c]??>${trMap[tc.id?c].timestamp}</#if>
                            </td>
                            <td><#if trMap[tc.id?c]??>${trMap[tc.id?c].tester}</#if></td>
                            <td>
                                <#if trMap[tc.id?c]??>
                                <#switch trMap[tc.id?c].status>
                                <#case "PASSED">
                                <span class="label label-success"><#if trMap[tc.id?c]??>${trMap[tc.id?c].status}</#if></span>
                                <#break>
                                <#case "FAILED">
                                <span class="label label-danger"><#if trMap[tc.id?c]??>${trMap[tc.id?c].status}</#if></span>
                                <#break>
                                <#default>
                                <span class="label label-info"><#if trMap[tc.id?c]??>${trMap[tc.id?c].status}</#if></span>
                                </#switch>
                                </#if>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="11" class="no-sort">
                                <table id="teststeps_${tc.id?c}" class="teststepsTable table table-bordered" width="100%" cellspacing="0">
                                    <tr>
                                        <td colspan="3">
                                            <b>Description</b>: ${tc.description}
                                        </td>
                                    </tr>
                                    <#if tc.ecTeststepList??>
                                    <#list tc.ecTeststepList as step>
                                    <tr>
                                        <td>
                                            ${step.stepNumber}    
                                        </td>
                                        <td style="width:45%">
                                            ${step.description?replace("\n", "<br/>")} 
                                        </td>
                                        <td style="width:50%">
                                            ${step.expected?replace("\n", "<br/>")}
                                        </td>
                                    </tr>
                                    </#list>
                                    </#if>
                                </table>
                            </td>
                        </tr>
                        </#list>
                        </#if>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-info" name="status" value="PASSED">PASSED</button>
                <button type="submit" class="btn btn-info" name="status" value="FAILED">FAILED</button>
                <button type="submit" class="btn btn-info" name="status" value="BLOCKED">BLOCKED</button>
                <button type="submit" class="btn btn-info" name="status" value="NOT_COMPLETED">NOT_COMPLETED</button>
                <button type="submit" class="btn btn-info" name="status" value="NOT_RUN">NOT_RUN</button>
                <button type="button" name="action" id="cancel" value="back" class="btn btn-default" onclick="history.back()" >Back</button>
            </div>
        </div>
    </form>
</div>
</@main.page> 