<#import "layouts/main-layout.ftl.html" as main> 
<@main.page>
<script src="js/3p/autosize.min.js"></script>
<script src="js/custom/testcase_form.js"></script>
<div class="container-fluid">
    <form method="post" action="/testcase_bulksave" role="form" class="form-horizontal">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Bulk Edit Test Cases</h3>
                <br/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                Test Case Id
            </label>
            <div class="col-md-6 text-left">
                <input type="hidden" name="nodeId" value="${nodeId?c}"/>
                <input type ="hidden" name="bulkTc" value="${bulkTc}"/>
                ${bulkTc}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                <label for="tpriority">Priority<font color="red">*</font></label>
            </label>
            <div class="col-md-6">
                <select class="form-control" id="tpriority" name="tpriority">
                    <option value="P1" selected>Critical (P1)</option>
                    <option value="P2">Major (P2)</option>
                    <option value="P3">Minor (P3)</option>
                    <option value="P4">Trivial (P4)</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                <label for="ttype">Type<font color="red">*</font></label>
            </label>
            <div class="col-md-6">
                <select class="form-control" id="ttype" name="ttype">
                    <option value="REGRESSION">Regression</option>
                    <option value="MIXED_MODE">Mixed mode</option>
                    <option value="NEW_FEATURE">New feature</option>
                    <option value="AUTOMATED_REGRESSION">Automated Regression</option>
                    <option value="MANUAL">Manual Only</option>
                    <option value="MIGRATION">Migration</option>
                    <option value="HOTFIX">Hotfix</option>
                    <option value="SANITY_CHECK">Production Sanity Check</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                Flags
            </label>
            <div class="col-md-6 text-left">
                <div class="checkbox form-group">
                    &nbsp;&nbsp;&nbsp;
                    <label><input type="checkbox" name="tenabled"  data-toggle="toggle" data-on="Yes" data-off="No"  data-onstyle="success"> Enabled</label>
                    <label><input type="checkbox" name="tautomated"  data-toggle="toggle" data-on="Yes" data-off="No"  data-onstyle="success"> Automated</label>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                <label for="tlanguage">Language</label>
            </label>
            <div class="col-md-6">
                <input type="text" name="tlanguage" class="form-control" id="tlanguage"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                <label for="tproduct">Product</label>
            </label>
            <div class="col-md-6">
                <input type="text" name="tproduct" class="form-control" id="tproduct"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                <label for="tfeature">Feature</label>
            </label>
            <div class="col-md-6">
                <input type="text" name="tfeature" class="form-control" id="tfeature"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                <label for="taversion">Added Version</label>
            </label>
            <div class="col-md-6">
                <input type="text" name="taversion" class="form-control" id="taversion"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                <label for="tdversion">Deprecated Version</label>
            </label>
            <div class="col-md-6">
                <input type="text" name="tdversion" class="form-control" id="tdversion"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-10">
                <button type="submit" id="testcase_bulksave" class="btn btn-info">Save</button>
                <button type="button" id="cancel" class="btn btn-info" onclick="history.back()" >Cancel</button>
            </div>
        </div>
    </form>
</div>
</@main.page> 