<#import "layouts/main-layout.ftl.html" as main> 
<@main.page>
<script src="js/3p/highcharts.js"></script>
<script src="js/3p/exporting.js"></script>
<script src="js/custom/testplan_view.js"></script>
<div class="container-fluid">
    <form method="post" action="/" role="form" id="testplanForm" class="form-horizontal">
        <#if flashMsg??>
        <div class="row">
            <div class="col-md-12">
                <p class="text-success text-center">${flashMsg}</p>
            </div>
        </div>
        </#if>

        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Test Plan View</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <tbody>
                        <tr>
                            <th>Test Plan</th>
                            <th>
                                <input type="hidden" id="testplanId" name="testPlanId" value="${testPlan.id}"/>
                                ${testPlan.name}
                            </th>
                        </tr>
                        <tr>
                            <td>Test Plan Id</td>
                            <td>${testPlan.id}</td>
                        </tr>
                        <tr>
                            <td>Test Cases</td>
                            <td>${tecaseCnt}</td>
                        </tr>
                        <tr>
                            <td>Enabled</td>
                            <td>${testPlan.enabled?c}</td>
                        </tr>
                        <tr>
                            <td>Creator</td>
                            <td>${testPlan.creator}</td>
                        </tr>
                        <tr>
                            <td>Release</td>
                            <td><#if testPlan.releaseName??>${testPlan.releaseName}</#if></td>
                        </tr>
                        <tr>
                            <td>Leader</td>
                            <td><#if testPlan.leader??>${testPlan.leader}</#if></td>
                        </tr>
                        <tr>
                            <td>Schedule</td>
                            <td><#if testPlan.schedule??>${testPlan.schedule}</#if></td>
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td><#if testPlan.startDate??>${testPlan.startDate}</#if></td>
                        </tr>
                        <tr>
                            <td>End Date</td>
                            <td><#if testPlan.endDate??>${testPlan.endDate}</#if></td>
                        </tr>
                        <tr>
                            <td>Pass Rate</td>
                            <td>${testPlanPassRate}%</td>
                        </tr>
                        <tr>
                            <td>Progress</td>
                            <td>${testPlanProgressRate}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <div id="linechartContainer" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th colspan="9">Progress Report</th>
                        </tr>
                        <tr>
                            <th>Test Case Node</th>
                            <th>PASSED</th>
                            <th>FAILED</th>
                            <th>BLOCKED</th>
                            <th>NOT_COMPLETED</th>
                            <th>NOT_RUN</th>
                            <th>Total</th>
                            <th>Pass Rate</th>
                            <th>Progress</th>
                        </tr>
                    </thead>
                    <tbody>
                        <#list testPlanMetricLst as tpm>
                        <tr>
                            <td>${tpm.folderName}</td>
                            <td>${tpm.passCount}</td>
                            <td>${tpm.failCount}</td>
                            <td>${tpm.blockedCount}</td>
                            <td>${tpm.notcompleteCount}</td>
                            <td>${tpm.notrunCount}</td>
                            <td>${tpm.total}</td>
                            <td>${tpm.passRate}%</td>
                            <td>${tpm.progressRate}%</td>
                        </tr>
                        </#list>

                    </tbody>
                </table>
            </div>
        </div>
        <#if testPlan.enabled?c == 'true'>
        <div class="row">
            <div class="col-md-1">
                <label>Active Users</label>
            </div>
            <div class="col-md-9">
                <select class="form-control" name="testcaseAssignedTo">
                    <#list activeUsersLst as user>
                    <option>${user.username}</option>
                    </#list>
                </select>
            </div>
            <div class="col-md-2 text-center">
                <a href="#" class="btn btn-info btn-block" id="testcase_assign" ><i class="fa fa-user"></i>&nbsp;Assign Test Cases</a>
            </div>
            <br/>
            <br/>
            <br/>
        </div>
        </#if>

        <div class="row">
            <div class="col-md-12">
                <table id="testcase-ele" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="no-sort"><input type="checkbox" id="checkAll"/> </th>
                            <th>ID</th>
                            <th>Test Folder</th>
                            <th>Test Name</th>
                            <th>Priority</th>
                            <th>Assigned To</th>
                        </tr>
                    </thead>
                    <tbody>
                        <#if testCaseLst??>
                        <#list testCaseLst as tc>
                        <tr>
                            <td class="no-sort">
                                <input type="checkbox" name="testcaseChk" value="${tc.id?c}"/>
                            </td>
                            <td>
                                ${tc.id?c}
                            </td>
                            <td>
                                <a href="/testcase?nodeId=${tc.folderId.id?c}">
                                    ${tc.folderId.name}
                                </a>
                            </td>
                            <td>${tc.name}</td>
                            <td>
                                <#if tc.priority??>
                                ${tc.priority}
                                </#if>
                            </td>
                            <td>
                                <#list tptcLst as tptc>
                                <#if tptc.testcaseId.id?c == tc.id?c>
                                <#if tptc.assignedTo??>
                                ${tptc.assignedTo}
                                </#if>
                                </#if>
                                </#list>
                            </td>
                        </tr>
                        </#list>
                        </#if>
                    </tbody>
                </table>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/testplan_edit?testplanId=${testPlan.id}" class="btn btn-info" id="testcase_edit" ><i class="fa fa-pencil"></i>&nbsp;Edit Test Plan</a>
                <#if testPlan.enabled?c == 'true'>
                <a href="#" class="btn btn-info" id="unlinkTestcaseTestplan" ><i class="fa fa-chain-broken"></i>&nbsp;Remove Test Cases from Plan</a>
                <a href="/testplan_delete?testplanId=${testPlan.id}" class="btn btn-info" id="testplan_delete" ><i class="fa fa-trash-o"></i>&nbsp;Delete Test Plan</a>
                <a href="/testplan_run?testplanId=${testPlan.id}" class="btn btn-info" id="testplan_run" ><i class="fa fa-bolt"></i>&nbsp;Run Test Plan</a>
                </#if>
                <a href="/testplan_history?testplanId=${testPlan.id}" class="btn btn-info" id="testplan_history" ><i class="fa fa-history"></i>&nbsp;Execution History</a>
                <a href="/testplan_clone?testplanId=${testPlan.id}" class="btn btn-info" id="testplan_clone" ><i class="fa fa-clone"></i>&nbsp;Clone Test Plan</a>
                <a href="/testplan_metric?testplanId=${testPlan.id}" class="btn btn-info" id="testplan_metric" ><i class="fa fa-line-chart"></i>&nbsp;Test Plan Metrics</a>
                <button type="button" name="action" id="cancel" value="cancel" class="btn btn-info" onclick="history.back()" >Cancel</button>
            </div>
        </div>
    </form>
</div>
</@main.page>